.container {
  margin: 20px auto;
  width: 900px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.nav {
  width: 100%;
 /* background-color: yellow;*/
  display: inline;
  margin: 0 auto;
}
th {
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}

.second {
  font-size: 12px;
}

.container ol ul{
  list-style-type: none;
}

.nav ul {
  display: inline;
  list-style-type: none;
}

.nav li {

  padding: 30px;
  display: inline;
}

button {
  width: 30px;
  height: 10px;
  font-size: 8px;
}

.com_ul {
  list-style-type: none;
}
