<div class="container">
  <h3> Submit </h3>
  <form action='/create_post' method='post'>
    <label>title:</label>
    <input type="text" name="post[title]"</input>
    <p></p>
    <label>url: </label>
    <input type="text" name="post[url]"</input>
    <p></p>
    <input type="submit" value="submit">
  </form>

</div>
