<div class="container">
<p>user:   <%=current_user.username%></p>
<p>created: <%=current_user.created_at%></p>
<p><a href="/user/<%=current_user.id%>">Submissions</a></p>
<p><a href="/user/<%=current_user.id%>/comments">Comments</a></p>

</div>
